.table-row-cell:time-correction .table-cell {
	-fx-text-fill: DarkSlateGray;
	-fx-font-weight: bold !important;
}

.table-row-cell:time-negative .table-cell {
	-fx-text-fill: DarkRed !important;
}

.table-row-cell:time-notchanged .table-cell {
	-fx-text-fill: DimGray;
}

.table-row-cell:time-warning .table-cell {
	-fx-text-fill: DarkGoldenRod;
}

#lblWorkingOn {
	-fx-font-weight: bold;
}
